.App {
  font-family: sans-serif;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --color-black-1: #000000;
  --color-black-2: #0a0a0a;
}

/* .pTag {
  color: white;
  font-family: 'Muli'
} */

body {
  background: linear-gradient(
    to right,
    var(--color-black-1),
    var(--color-black-2)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Muli";
  overflow: hidden;
}

.contact-container {
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid salmon;
  box-shadow: 0px 4px 10px rgba(250, 128, 114, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 70px;
  text-align: center;
  width: 600px;
  max-width: 100%;
}

.contact-container h2 {
  margin: 0 0 10px;
  opacity: 0.8;
}

.contact-container p {
  opacity: 0.7;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.contact-container form {
  width: 450px;
  max-width: 100%;
}

.contact-container .wrapper {
  position: relative;
  margin: 10px 0;
  height: 44px;
  width: 100%;
}

.contact-container .wrapper-big {
  height: 80px;
}

.contact-container input,
.contact-container textarea {
  border: none;
  border-radius: 4px;
  font-family: "Muli";
  font-size: 14px;
  padding: 12px;
  position: absolute;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.contact-container input:focus,
.contact-container textarea:focus {
  outline: 0;
}

.contact-container input:focus + .gradient-bg,
.contact-container textarea:focus + .gradient-bg {
  background: linear-gradient(
    to right,
    var(--color-black-1),
    var(--color-black-2)
  );
}

.contact-container .gradient-bg {
  background: #999;
  border-radius: 4px;
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: 9;
}

.contact-container button {
  background: linear-gradient(
    to right,
    var(--color-black-1),
    var(--color-black-2)
  );
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 10px rgb(26, 4, 0, 0.8);
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 12px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .contact-container {
    padding: 20px 30px;
  }
}
